<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<center>
<h1>User After Login: Home Page</h1>
    <p> <span id="datetime"></span></p><script>var dt = new Date();
 document.getElementById("datetime").innerHTML=dt.toLocaleString();</script>

</br></br></br></br>
<button class="btn btn-primary btn-block" href="/logout"> SIGN IN </button>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
    <button class="btn btn-primary btn-block" href="/viewreport"> View Report </button>

<a href="/logout">Logout</a>
</center>
</body>

</html>